@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movies Inspired by the Church</h1>
    <a asp-controller="Movies" asp-action="Index">View select movies</a></div>
